
/* =================== Loader Style =================== */
    .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 50%;
    }
    .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    }
    

    .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    }
    .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    }
    .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    }
    .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    }
    .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    }
    .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    }
    .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    }
    .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    /* ===================// Loader Style //=================== */
    


    /* Them Switcher Style */
    .theme-container {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: fixed;
        bottom: 17%;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .theme-container:hover {
        opacity: 0.8;
    }
    
    .shadow-dark {
        box-shadow: 7px 7px 15px -15px #ffffff, 0px 0px 1.5px #a7a7a7;

    }
    
    .shadow-light {
        box-shadow: 7px 7px 15px -15px #000000, 0px 0px 1.5px #272727;
        
    }
    
    @keyframes change {
        0% {
        transform: scale(1);
        }
    
        100% {
        transform: scale(1.4);
        }
    }
    
    .change {
        animation-name: change;
        animation-duration: 1s;
        animation-direction: alternate;
    }

    /* // Them Switcher Style // */


    
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-click{
    pointer-events: none;
}
body {
    background-color: #39383b ;
    /*background-color: #494949 ;*/
}
img {
    max-width: 100%;
    max-height: 100%;
}
#successAlert {
    margin: 10px auto 0 auto;
}
#addBtn {
    position: fixed;
    right: 5%;
    bottom: 5%;
    height: 60px;
    width: 60px;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(0, 0, 0 , 0.3);
    color: white;
}

@media (max-width: 600px) {
    #addBtn  {
        font-size: 30px;
        line-height: 1.2;
        height: 40px;
        width: 40px;
        right: 3%;
    }
    .theme-container  {
        height: 40px;
        width: 40px;
        right: 3%;
        bottom: 15%;
    }
}

.number-info {
    font-weight: 100;

}

.number-info span {
    font-size: 60px;
}

.user-main-info {
    font-size: 20px;
    font-weight: 500;
}


